node_modules/*
!node_modules/bootstrap-icons

node_modules/bootstrap-icons/*
!node_modules/bootstrap-icons/icons

node_modules/bootstrap-icons/icons/*
!node_modules/bootstrap-icons/icons/bootstrap.svg
